.navbar {
    height: 9.5vh;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    position: sticky;
    top: 0;

    .left {
        display: flex;

        .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            padding: 4px;
            background: #000000ad;
            border-radius: 50%;
            margin-right: 17px;
            cursor: pointer;

            .icon {
                color: #eee;
            }
        }
    }
    .right {
        display: flex;
        gap: 20px;

        button {
            padding: 6px 15px;
            border-radius: 13px;
            font-weight: 600;
            font-size: 14px;
            border: 1px solid gray;
            color: var(--color-primary);
            background: none;
            cursor: pointer;
        }
        .select-box {
            display: flex;
            align-items: center;
            padding: 0px 1px;
            border-radius: 15px;
            background-color: black;

            button {
                border: none;
                padding: 0 3px;
            }
            .icon-right {
                color: var(--color-primary);
            }
        }
    }
}