.sidebar {
    width: 17%;
    height: 86vh;
    background-color: var(--bg-secondary);
    box-sizing: border-box;
    padding: 25px 0 0 25px;
    position: sticky;
    top: 0;
    
    .top {
        height: 50%;
        display: flex;
        flex-direction: column;

        .top-up {
            margin-bottom: 15px;
            img {
                width: 130px;
            }
        }
        .top-down {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 75%;

            &:nth-child(0){
                margin-bottom: 50px;
            }
            ul {
                li {
                    display: flex;
                    align-items: center;
                    margin: 14px 0;

                    a {
                        color: var(--color-light);
                        font-size: 14px;
                        font-weight: 600;

                        &.active {
                            color: var(--color-primary);
                        }
                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                    .icon {
                        color: var(--color-light);
                        font-weight: 600;
                        font-size: 29px;
                        margin-right: 10px;
                        cursor: pointer;

                        &.active {
                            color: var(--color-primary);
                        }
                        &:hover {
                            color: var(--color-primary);
                        }
                        // &.fav {
                        //     background: blue;    
                        //     font-size: 23px;
                        //     border-radius: 5px;
                        //     margin-right: 16px;
                        // }
                    }
                }
            }
        }
    }
    hr {
        border: none;
        margin-top: 15px;
        border-top: .4px solid #eeeeee54;
        width: 85%;
    }
}