.playbar {
    height: 13.95vh;
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    border-top: .1px solid #eeeeee2c;
    background: #242222;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;

    .left {
        flex: 1;
        display: flex;
        align-items: center;

        .image {
            width: 60px;
            height: 60px;

            img {
                width: 100%;
                height: 100%;
            }
        }
        .texts {
            margin-left: 15px;
            color: #eee;

            h4 {
                font-size: 14px;
            }
            small {
                color: #eeeeeea1;
                font-size: 11px;
            }
        }
        .icons {
            margin-left: 25px;

            .icon {
                margin-right: 10px;
                color: #eee;
                font-size: 20px;
            }
        }
    }
    .center {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .top {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            width: 36%;
            justify-content: space-between;

            .center-icon {
                font-size: 27px;
                color: #eeeeeea9;

                &:hover {
                    color: #eee;
                }
            }
            .pause {
                font-size: 38px;
                color: #eee;

                &:hover {
                    font-size: 39px;
                }
            }
        }
        .bottom {
            display: flex;
            align-items: center;
            
            span {
                font-size: 12px;
                color: #eeeeeea6;
            }
            .progress-bar {
                margin: 0 10px;
                width: 470px;
                height: 4px;
                background: #eeeeee86;
                border-radius: 3px;

                .progress {
                    position: relative;
                    width: 50%;
                    height: 100%;
                    background: #eee;
                    border-radius: 3px;
                }
                &:hover {
                    .progress {
                        background: #03f15f;
                        display: flex;
                        align-items: center;

                        &:after {
                            position: absolute;
                            right: -4px;
                            content: '';
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background: #eee;
                        }
                    }
                }
            }
        }
    }
    .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .right-icon {
            color: #eeeeeea4;
            font-size: 20px;
            margin: 0 5px;

            &:hover {
                color: #eee;
            }
        } 
        .progress-bar1 {
            width: 100px;
            height: 4px;
            background: #eeeeee94;
            border-radius: 3px;

            .progress-1 {
                width: 50%;
                height: 100%;
                background: #eee;
                position: relative;
                border-radius: 3px;
            }
            &:hover {
                .progress-1 {
                    background: #03f15f;
                    display: flex;
                    align-items: center;

                    &:after {
                        content: '';
                        position: absolute;
                        right: -4px;
                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}