.home-container {
    box-sizing: border-box;
    margin-top: -12vh;
    padding: 13vh 30px 0 30px;
    background: linear-gradient(#b5e238 0%, #1a1818 30%);
    
    .top {
        height: 36vh;
        font-weight: 600;
        color: #eee;
        padding-bottom: 10px;

        h1 {
            margin-bottom: 20px;
        }
        .top-list-items {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 15px;
            
            .items {
                margin: 0 auto;
                background: rgba(156, 156, 158, 0.295);
                display: flex;
                align-items: center;
                width: 350px;
                height: 80px;
                border-radius: 5px;
                overflow: hidden;

                .left {
                    flex: 1;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .center {
                    flex: 2;
                    padding-left: 10px;
                    color: #eee;
                }
                .right {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .pause-icon {
                        background: rgb(7, 201, 49);
                        padding: 11px;
                        font-size: 30px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .bottom {
        margin-top: 10px;
        padding-bottom: 30px;

        .bottom-up {
            display: flex;
            justify-content: space-between;

            h4 {
                color: #eee;
                font-size: 24px;
            }
            small {
                color: #eeeeeec9;
                font-weight: 600;
                cursor: pointer;
            }
        }
        .bottom-down {
            margin-top: 20px;
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

            .music-lists {
                margin: 0 auto;
                width: 200px;
                height: 280px;
                box-sizing: border-box;
                padding: 15px;
                border-radius: 5px;
                background: #242222;

                .up {
                    height: 70%;
                    border-radius: 5px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .down {
                    margin: 10px 0;
                    
                    h3 {
                        color: #eee;
                        font-size: 17px;
                    }
                    p {
                        font-size: 13px;
                        margin-top: 10px;
                        color: #eeeeeebe;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}